<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot with Bootstrap</title>
    <!-- Bootstrap CSS 추가 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://unpkg.com/petite-vue" defer></script>
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body id="app">
    <!-- 네비게이션 바 -->
    <header>
        <nav :class="['navbar', isNavbarActivated ? 'activated' : '']" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="/"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">HOME<span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/">HOME</a></li>
                
                </ul>
            </div>
        </nav>
    </header>
    <!-- 콘텐츠 섹션 -->
    <div class="container mt-5 pt-5">
        <h1 class="text-center">Hello chatbot</h1>
        <!--챗봇 아이콘 이미지 -->
        <div class="text-center my-4">
            <img src="{{ url_for('static', filename='free-icon-chatbot-4196284.png') }}" alt="Chatbot Icon" style="width: 150px; height: auto;">
        </div>

        <p>챗봇을 시작하려면 아래 버튼을 클릭하세요.</p>
        <form action="{{ url_for('chatbot') }}" method="get">
            <button type="submit">챗봇 시작하기</button>
        </form>
        <!-- <p v-text="testMessage" class="text-center my-4"></p> -->
        <p v-bind:class="{ 'text-success': !isFetched, 'text-danger': isFetched }" v-text="testMessage" class="text-center my-4"></p>
     
    </div>
</body>
</html> 
